* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav.navbar {
    background-color: #333;
    padding: 10px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    nav.navbar a {
        padding: 12px 20px;
        border-radius: 4px;
        background-color: #007bff;
        transition: background-color 0.3s;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
    }

        nav.navbar a:hover {
            background-color: #0056b3;
            text-decoration: underline;
        }

        nav.navbar a:active {
            transform: translateY(1px);
        }

/* KANBAN */
.kanban-board {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kanban-board a.button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #4caf50;
    transition: background-color 0.3s;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.kanban-board a.button:hover {
    background-color: #45a049;
}

.kanban-board a.button:active {
    transform: translateY(1px);
}

.kanban-column {
    flex-shrink: 0;
    width: 300px;
    min-width: 200px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kanban-card {
    background-color: #fff;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kanban-column:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.kanban-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* FORM */
.form-container {
    width: 400px;
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .form-container h1 {
        margin-bottom: 20px;
    }

    .form-container label {
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .form-container input[type="text"],
    .form-container input[type="date"],
    .form-container input[type="color"] {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .form-container input[type="color"] {
        padding: 3px;
        border-radius: 5px;
        height: 40px;
        appearance: none;
    }

    .form-container button,
    .form-container button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .form-container button:hover,
        .form-container button[type="submit"]:hover {
            background-color: #45a049;
        }

/* BUTTON */
.circular-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .circular-button:hover {
        background-color: #c2c2c2;
    }

    .circular-button:active {
        transform: scale(0.95);
    }

.form-container button.button-red {
    width: 100%;
    padding: 10px;
    background-color: #e50000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .form-container button.button-red:hover {
        background-color: #b32121;
    }
