@page "/createform"
@using Data
@using Microsoft.AspNetCore.Components.Forms
@inject KanbanKontext KanbanCtx
@rendermode InteractiveServer

<div class="form-container">
    <Microsoft.AspNetCore.Components.Forms.EditForm Model="newColumn" OnValidSubmit="AddColumn">
        <DataAnnotationsValidator />

        <h1>Přidat sloupec</h1>
        <div>
            <label for="Title">Nadpis</label>
            <InputText id="Title" @bind-Value="newColumn.Title" type="text" />
            <ValidationMessage For="() => newColumn.Title" />
        </div>
        <div>
            <label for="Color">Barva</label>
            <InputText id="Color" @bind-Value="newColumn.BoxColor" type="color" />
        </div>
        <button type="submit">Vytvořit</button>
    </Microsoft.AspNetCore.Components.Forms.EditForm>
</div>

@code {
    private ColumnModel newColumn = new ColumnModel();

    private void AddColumn()
    {
        KanbanCtx.Add(newColumn);
        KanbanCtx.SaveChanges();
        newColumn = new ColumnModel();
    }
}
