@page "/editform/{id:int}"
@using Data
@using Microsoft.EntityFrameworkCore
@inject KanbanKontext KanbanCtx
@inject NavigationManager NavMan
@rendermode InteractiveServer

@if (Column != null)
{
	<div class="form-container">
		<h1>Přidat úkol</h1>
		<form>
			<label for="Title">Nadpis</label>
			<input id="Title" type="text" @bind="newTitle" />
			<label for="Description">Popis</label>
			<input id="Description" type="text" @bind="newDescription" />
			<input type="date" @bind="newDeadline" />
			<button @onclick="AddItem">Přidat úkol</button>
		</form>
	</div>

	<div class="form-container">
		<h1>Upravit sloupec @Column.Title</h1>
		<form>
			<label for"Title">Nadpis</label>
			<input id="Title" type="text" @bind="Column.Title" />
			<label for"Color">Barva</label>
			<input id="Color" type="color" @bind="Column.BoxColor" />
		</form>
	</div>
	<div class="form-container">
		<h1>Smazat sloupec</h1>
		<button class="button-red" @onclick="DeleteColumn">Odstranit</button>
	</div>
}
else
{
	<p>nothing here</p>
}


@code {
	[Parameter]
	public int Id { get; set; }

	public ColumnModel? Column { get; set; }

	private string newTitle;
	private string? newDescription;
	private DateOnly? newDeadline;

	protected override void OnInitialized()
	{
		Column = KanbanCtx.Columns.Include(c => c.TaskItems).ToList().Find(c => c.Id == Id);
	}
	private void AddItem()
	{
		if (Column != null)
		{
			Column.TaskItems.Add(new TaskItem() { Title = newTitle, Description = newDescription, Deadline = newDeadline });
			KanbanCtx.SaveChanges();
		}
		newTitle = "";
		newDescription = "";
	}
	private void DeleteColumn()
	{
		if (Column != null)
		{
			KanbanCtx.Columns.Remove(Column);
			KanbanCtx.SaveChanges();
			NavMan.NavigateTo("/");
		}
	}
}