@page "/"
@using Data
@using System.Linq
@using Microsoft.EntityFrameworkCore
@inject KanbanKontext KanbanCtx
@rendermode InteractiveServer

<div class="kanban-board">
	@foreach (ColumnModel column in Cols)
	{
		<Column Column="column"></Column>
	}
</div>

@code {

	public List<ColumnModel>? Cols { get; set; }
	protected override void OnInitialized()
	{
		Cols = KanbanCtx.Columns.Include(c => c.TaskItems).ToList();
	}
}