@inherits LayoutComponentBase

<nav class="navbar">
    <a href="/">Domů</a>
    <a href="/createform">Přidat sloupec</a>
</nav>


<main>
    @Body
</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
